<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-brand w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="#"><img class="logo" src="/assets/images/logo.png" alt ="logo"></a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <button (click) = "signOut()" mat-icon-button ><mat-icon >account_circle</mat-icon></button>
        </ul>
    </div>
</nav>