<app-navbar></app-navbar> 
  <div></div>
  <button (click) = "addMemberClick()" class = "add-button" mat-stroked-button>
    <mat-icon>add_circle_outline</mat-icon>
  </button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let member" > {{member.name}} </td>
      <!-- *matCellDef="let element" -->
    </ng-container>
  
    <!-- Address Column -->
    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let member"> {{member.address}} </td>
      </ng-container>

    <!-- dob Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef> Date Of Birth </th>
      <td mat-cell *matCellDef="let member"> {{member.dob}} </td>
    </ng-container>
  
    <!-- Phap Danh Column -->
    <ng-container matColumnDef="phapdanh">
      <th mat-header-cell *matHeaderCellDef> Pháp Danh </th>
      <td mat-cell *matCellDef="let member"> {{member.phapdanh}} </td>
    </ng-container>

    <!-- Emergency Contact Column -->
    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef> Emergency Contact </th>
      <td mat-cell *matCellDef="let member"> {{member.contact.name}} </td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active </th>
      <td mat-cell *matCellDef="let member"> {{member.active}} </td>
    </ng-container>

    <ng-container class = "edit-spacing" matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let member"><button mat-icon-button (click)="editMemberClick()" ><mat-icon aria-label="Edit icon">edit</mat-icon></button></td>
    </ng-container>
  
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let member"><button mat-icon-button (click)="deleteMember(member.id)"><mat-icon aria-label="Delete icon">delete</mat-icon></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> 

  <div></div>

  <footer class="footer footer-bottom">
    <div class="container">
      <p>copyright &copy;2021 GDPT Manager By <span>Jason Huy Nguyễn</span></p>
    </div>
  </footer>