th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0px; 
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding:10px
}
.add-button {
    display: block;
    width: 80%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    background-color: #303e44;
    color:white;
}

.footer-bottom{
    background: #1a2130;
    text-align: center;
    padding-bottom: 10px;
}

.footer-bottom p {
    color:white;
    font-size:14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    opacity: .4;
    font-weight: 200;
}

table{
    margin-bottom: 0px;
    padding-bottom: 0px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

mat-paginator{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}


div{
    padding-bottom: 30px;
    padding-top:30px;
}