
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: white;
}
.bg-light {
    background-color: #303e44 !important;
}
header{
    display: flex;
    align-items: center;
    padding:10px 5px;
}

img{
    padding-left:60px;
    padding-right:30px;
}

button{
    padding: 10px 40px;
    background-color: #13793e;
    border:none;
    border-radius: 200px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:#76a68d;
}

